@import 'tailwindcss';

@theme static {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}
@layer base {
  body {
    @apply font-secondary bg-gray-200;
  }
  h1 {
    @apply font-primary font-bold text-7xl;
  }
  h2 {
    @apply font-primary text-4xl font-semibold;
  }
  h3 {
    @apply font-primary text-2xl font-bold;
  }
  h4 {
    @apply font-primary text-xl font-bold;
  }
  h5 {
    @apply font-primary text-lg font-semibold;
  }
  h6 {
    @apply font-primary text-base font-semibold;
  }
  p {
    @apply text-sm lg:text-base;
  }
  li {
    @apply text-sm lg:text-base;
  }
  i {
    @apply text-sm lg:text-base;
  }
  span {
    @apply text-sm lg:text-base;
  }
  input {
    @apply text-sm lg:text-base;
  }
  label {
    @apply text-sm lg:text-base;
  }
  select {
    @apply text-sm lg:text-base;
  }
  textarea {
    @apply text-sm lg:text-base;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded transition-all cursor-pointer inline-flex items-center justify-center text-sm lg:text-base;
  }
  .btn-primary {
    @apply bg-neutral-900 text-gray-100 hover:opacity-75;
  }
  .btn-secondary {
    @apply bg-transparent border border-black text-black hover:bg-black/75;
  }
  .btn-disabled {
    @apply cursor-not-allowed opacity-75 bg-gray-300;
  }
  .anchor {
    @apply cursor-pointer hover:opacity-50 transition-opacity duration-200 text-sm lg:text-base;
  }
  .active-anchor {
    @apply underline underline-offset-4 font-bold;
  }
  .text-input {
    @apply w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none bg-gray-100 focus:ring-2 focus:ring-blue-500 transition-all;
  }
}
